.sidebar{
    width: 345px;
    position: fixed;
    height: 100%;
    background-color: antiquewhite;
    left: 0;
    top: 0;
}
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: rgb(34, 197, 48);
    
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;

}
.sidebar-menu {

}